# Core Python requirements for pymol-unified
# Note: Many dependencies are non-PyPI or require system libraries, see project docs for full setup.

numpy
PIL
Pmw
pygame

# Optional/legacy/GUI dependencies
PyQt5
PyQt4
PySide

# Scientific and third-party libraries
apbs
pdb2pqr

# Some modules may require the following (not all are on PyPI, check docs):
# MolKit
# bhtree
# _subprocess
# Pmv
# ViewerFramework
# FlexTree
# idlelib
# DejaVu
# distutils
# Support

# See md_docs/Category_Installation.md for required system libraries:
# C++11 compiler, OpenGL, GLEW, libpng, freetype, libxml2, msgpack-c, glm, etc.

# For plugins and third-party scripts, also see md_docs/Category_Plugins.md and md_docs/Category_ThirdParty_Scripts.md
